<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yg.first">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.yg.sopt25th.Example1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.yg.sopt25th.appjam.tokddak.TokActivity"></activity>
        <activity android:name="com.yg.sopt25th.appjam.flood.FloodActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yg.sopt25th.appjam.early.adapter.EarlySecondActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.yg.sopt25th.appjam.early.EarlyActivity" />
        <activity android:name="com.yg.sopt25th.appjam.excuse.ExcuseActivity" />
        <activity android:name="com.yg.sopt25th.appjam.chat.ChatMainActivity" />
        <activity android:name="com.yg.sopt25th.appjam.chat.FireBaseActivity" />
        <activity android:name="com.yg.sopt25th.appjam.AppJamActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yg.sopt25th.extra.ui.activity.ExtraThirdActivity" />
        <activity
            android:name="com.yg.sopt25th.extra.ui.activity.ExtraSecondActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.yg.sopt25th.fifth.seminar.FifthActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.yg.sopt25th.fourth.seminar.FourthActivity" />
        <activity android:name="com.yg.sopt25th.third.seminar.ThirdActivity" />
        <activity android:name="com.yg.sopt25th.second.seminar.SecondActivity" />
        <activity android:name="com.yg.sopt25th.first.assignment.SignUpActivity" />
        <activity android:name="com.yg.sopt25th.first.seminar.login.ReSignActivity" />
        <activity android:name="com.yg.sopt25th.first.seminar.login.MainActivity" />
        <activity
            android:name="com.yg.sopt25th.extra.ui.activity.ExtraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.yg.sopt25th.first.assignment.SignActivity" />
    </application>

</manifest>